# Folders
/app/static/css/gen
/eventum/static/css/gen
/eventum/static/img/uploaded/*
!/eventum/static/img/uploaded/README.md
/lib
/local
/log/*
/bin
/include
tmp
/man
/share
*.pyc
*.swp
*.log
.Python
.vagrant

# Secrets / Authentication
secrets.dev
secrets.prod
setup_consul_dev.sh
setup_consul_prod.sh
installed_app_client_secrets.json
installed_app_credentials.json
client_secrets.json
credentials.json
consul_data

# SCSS
.webassets-cache

# Sphinx
_build

