# Folders
/app/static/css/gen
/app/static/img/uploaded/
/lib
/local
/log/*
/bin
/include
/man
/share
*.pyc
*.swp
*.log
.Python
.vagrant
venv/

.cache

*.egg-info

# Secrets / Authentication
secrets.dev
secrets.prod
installed_app_client_secrets.json
installed_app_credentials.json
client_secrets.json

# SCSS
.webassets-cache

# Sphinx
_build

