@import '../admin';

.whitelist-add-form {
    ul {
        display: inline-block;
        margin-right: 0.5rem;
        li { display: inline-block; }
    }
    div {
        margin-top: 1rem;
        display: block;
    }
    input[type="submit"] {
        margin-top: 1rem;
        display: block;
    }

    .display-feature-table {
        table {
            width: 75%;
            td.privilege {
                text-align: left;
            }
            tr.blue {
                background-color: #6C9AD9;
            }
            tr.light {
                background-color: #C0D6F3;
            }
            th {
                padding: 15px;
                color: white;
                text-align: center;
                left-padding: 5px;
                right-padding: 5px;
                background-color: #3878CC;
            }
            td {
                padding: 15px;
                text-align: center;
                left-padding: 5px;
                right-padding: 5px; 
                .fa-times {
                    color: red;
                }
                .fa-check {
                    color: green;
                }
            }
        }
    }
}

.for-fake-user {
    $fake-user-image-width: 25%;
    .fake-user-image {
        display: block;
        position: relative;
        width: $fake-user-image-width;
        padding-bottom: $fake-user-image-width;
    }
}

.form-component {
    display: inline;
}

.whitelist, .no-elements {
    margin-bottom: 2rem;
}

.role, .name {
    width: 35%;
    text-transform: capitalize;
}
.email {
    width: 40%;
}
.user-type, .actions {
    width: 25%;
}

td:first-child {
    padding-left: 0 !important;
}
th {
    text-align: left;
}
.with-image {
    padding-left: ($table-padding + $row-height);
}

small {
    display: block;
    margin-bottom: 0.5rem;
}