GnuPGInterface==0.3.2
apt-xapian-index==0.44
command-not-found==0.2.44
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
chardet==2.0.1
distribute==0.6.24dev-r0
language-selector==0.1
ufw==0.31.1-1
unattended-upgrades==0.1
pycurl==7.19.0
