@import '../utils';
@import '../components/events';
@import '../../common/media_queries';

.single-event {
    .text {
        margin-left: 33%;

        ol {
            list-style: initial;
            list-style-type: decimal;
            font-size: 1.2rem;
            margin-left: 2rem;
            margin-bottom: 1rem;
            line-height: 1.9rem;
        }
        ul {
            list-style-type: circle;
            margin: 1.75rem;
        }
    }

    .details {
        i {
            margin-right: 0;
        }
        .button i {
            display: inline;
            margin-right: 1rem;

            &.fa-facebook {
                margin-left: -0.8rem;
                margin-right: 0.8rem;
            }

            &.fa-comment {
                margin-left: -1.1rem;
                margin-right: 0.4rem;
            }
        }
    }
}

@media screen and (max-width: $phone-max) {
    .single-event .text {
        margin-left: 0;
    }
}

