{% extends "page.html" %}
{% block title %}Contact | {{ super() }}{% endblock %}

{% block header_image %}/static/img/hero/contact.jpg{% endblock %}

{% block main %}
<section class="card top-card">
    <div class="content">
        <h1 class="page-title">Contact</h1>
        <div class="section-header">
            <h4>Come meet ADI</h4>
            <span class="bar blue"></span>
        </div>
        <h3>Interested in learning more about ADI?  The best way to get to know
            us better is by coming to
            <a href="{{ url_for('client.event', slug='cookies-and-code') }}">Cookies and Code</a>,
            Wednesdays from 10pm-midnight in Lerner 569. People of all experience
            levels are welcome to come by, meet our members, work on personal
            projects, and eat free cookies! What could be better?</h3>
        <div class="button-group centered">
            <div class="blue button">
                <a href="{{ url_for('client.event', slug='cookies-and-code') }}">
                    Find the next Cookies and Code
                </a>
            </div>
        </div>
    </div>
</section>
<section class="callout">
    <div class="full green">
        <div class="content">
            <div class="callout-left">
                <div class="section-header">
                    <h4>Jobs</h4>
                    <span class="bar gray"></span>
                </div>
                <h3>Have a job opportunity or looking for one yourself?  Check out the CORE Jobs Board!</h3>
                <div class="button-group">
                    <div class="button gray"><a target="_blank" href="http://jobs.coreatcu.com">Launch</a></div>
                </div>
            </div>
            <div class="callout-right">
                <div class="card">
                    <a href="http://jobs.coreatcu.com">
                        <i style="background-image:url({{ url_for('static', filename='img/jobs.png') }})"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Advertise your event</h4>
            <span class="bar blue"></span>
        </div>
        <h3>Do you have an event that you'd like the tech community at Columbia to know about?
        Let us know! Submit a request to
        add your blurb to our <a href="http://adicu.us4.list-manage.com/subscribe/?u=62d8b690f349b99dd7e0f3205&id=01a495e6ed"> weekly newsletter</a>.
        </h3>
        <div class="button-group centered">
            <div class="blue button">
                <a href="https://docs.google.com/a/adicu.com/forms/d/1jc6ecYYmq5Hicd7cDGuu9fLlZha2U62NGUSIqJN4Y0Y/viewform">
                    Submit an event blurb
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Email Us!</h4>
            <span class="bar blue"></span>
        </div>
        <h3>If you'd like to reach out to us to host a potential workshop targeted at the Columbia tech community or partner with our organization in any other way let us know!</div>
        <div class="button-group centered">
            <div class="blue button">
                <a href="mailto://hello@adicu.com">
                   hello@adicu.com
                </a>
            </div>
        </div>
        {% if events %}
        {{ macros.event(events[0]) }}
        {% endif %}
    </div>
</section>
{% endblock main %}
