{% extends "page.html" %}
{% block title %}JADE | {{ super() }}{% endblock %}

{% block header_image_class %}top{% endblock %}
{% block header_image %}/static/img/hero/jade.jpg{% endblock %}

{% block main %}
<section class="card top-card">
   <div class="single content ">
        <h1 class="page-title">JADE</h1>
        <h2 class="subtitle">January Application Development Experience</h2>
        <div class="details">
            <div class="section-header">
                <h4>Details</h4>
                <span class="bar blue"></span>
            </div>
            <p>
                <i class="fa fa-calendar"></i>Sunday, Jan 10th &mdash;<br>
                <i class="fa fa-calendar" style="visibility: hidden"></i>Friday, Jan 15th
            </p>
            <p>
                <i class="fa fa-clock-o"></i>9am &mdash; 10pm daily<br>
            </p>
        </div>
        <div class="text">
        <p>JADE is a week-long student-led, winter break program for first year students to learn how to build apps. Come experience all of the awesome tech resources in NYC by visiting tech companies like <a href="https://www.facebook.com/facebooknyc">Facebook</a> or <a href="https://www.appnexus.com/en">AppNexus</a> and small startups like <a href="http://www.bradleyrothenberg.com/">Bradley Rothenberg</a>. We will have a week-long crash course in web development, in which participants will be split into smaller groups to learn how to make web applications.
        </p>
        <p>Meet other amazing Columbia students, work alongside upperclassmen mentors, and participate in a growing community of students who share an interest in programming and technology. Learn to take advantages of interesting classes and professor at Columbia and companies and events in the city. By the end of the web development bootcamp, participants will be equipped to build their own web applications.
        </p>
        <p>This program will accept twelve first years excited to learn about programming. Prior programming experience such as an introductory Computer Science course (1002, 1004, 1006), AP Computer Science, or a similar experience will help you get the most out of this program.
        </p>
        <p>Applications are due October 19th.  If you have any questions about this program, please email <a href="mailto:jade@adicu.com">jade@adicu.com</a>!</p>
        </div>
   </div>
</section>
<section class="full blue callout">
    <div class="content">
        <div class="callout-left">
            <div class="section-header">
                <h4>Register</h4>
                <span class="bar gray"></span>
            </div>
            <h3>Interested? <br>Apply for the JADE today!</h3>
            <div class="button-group">
                <div class="button gray">
                    <a href="http://bit.ly/jade2016">Apply For JADE</a>
                </div>
            </div>
            <p>Applications close November 3rd.</p>
        </div>
        <div class="callout-right">
            <div class="card">
                <a href="http://bit.ly/jade2016">
                    <i style="background-image:url({{ url_for('static', filename='img/cc_friends.jpg') }})"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Sample Schedule</h4>
            <span class="bar blue"></span>
        </div>
        <h3>While we won't be publishing the full schedule until later this year, you can get an idea what a day in JADE will be like from this sample schedule.</h3>
        <table class="blue">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8:30 a.m.</td>
                    <td>Breakfast</td>
                </tr>
                <tr>
                    <td>9:30 a.m.</td>
                    <td>Workshop: What is a Web App?</td>
                </tr>
                <tr>
                    <td>10:30 a.m.</td>
                    <td>Workshop: What is Git/Github?</td>
                </tr>
                <tr>
                    <td>12:00 p.m.</td>
                    <td>Lunch at the Google NYC Office</td>
                </tr>
                <tr>
                    <td>4:00 p.m.</td>
                    <td>Bowling in Hell's Kitchen, NYC</td>
                </tr>
                <tr>
                    <td>6:00 p.m.</td>
                    <td>Dinner at Columbia</td>
                </tr>
                <tr>
                    <td>8:00 p.m.</td>
                    <td>Workshop: Environment Setup</td>
                </tr>
                <tr>
                    <td>9:30 p.m.</td>
                    <td>Tech-themed Scavenger Hunt across NYC!</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
