{% extends "page.html" %}
{% block title %}JADE | {{ super() }}{% endblock %}

{% block header_image_class %}top{% endblock %}
{% block header_image %}/static/img/hero/startup.jpg{% endblock %}

{% block main %}
<section class="card top-card">
   <div class="single content ">
       <h1 class="page-title">JADE</h1>
       <h2> January Application Development Experience</h2>
       <div class="details">
            <div class="section-header">
                <h4>Program Details</h4>
                <span class="bar blue"></span>
            </div>
            <p>
                <i class="fa fa-calendar"></i>Mark Your Calendars! <br>
                <i class="fa fa-clock-o"></i>Sunday, January 10th 
                <br>to Friday, January 15th
            </p>
        </div>
        <div class="text">
	    <p>Are you a first year student? Do you have some experience with computer programming? Want to learn more? 
	    Apply to our winter break program January Application Development Experience (JADE). We are looking for 
	    first years excited to learn more about technology. </p>  
        </div>
   </div>
</section>
<section class="full green callout">
    <div class="content">
        <div class="callout-left">
            <div class="section-header">
                <h4>Register</h4>
                <span class="bar blue"></span>
            </div>
            <h3>Interested? Apply for the 2016 JADE experience is here!</h3>
            <div class="button-group">
                <div class="button blue">
                    <a href="http://bit.ly/jade2016">Apply For JADE</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
