{% extends "page.html" %}
{% block title %}Startup Career Fair | {{ super() }}{% endblock %}

{% block header_image_class %}top{% endblock %}
{% block header_image %}/static/img/hero/startup.jpg{% endblock %}

{% block main %}
<section class="card top-card">
   <div class="single content jobfair">
       <h1 class="page-title">ADI Startup Career Fair</h1>
       <div class="details">
            <div class="section-header">
                <h4>Details</h4>
                <span class="bar yellow"></span>
            </div>
            <p>
                <i class="fa fa-calendar"></i><!-- Fix space on inline-block elements, do not remove
             -->Friday, October 7th
            </p>
            <p>
                <i class="fa fa-clock-o"></i><!-- Fix space on inline-block elements, do not remove
             -->12:00-4:00pm
            </p>
            <p>
                <i class="fa fa-map-marker"></i><!-- Fix space on inline-block elements, do not remove
             --><span>Carleton Lounge</span> <br />
                <span><a href="http://ieor.columbia.edu/files/seasieor/file_attach/Mudd_Map.pdf">Mudd Building</a>
            </p>
        </div>
        <div class="text">
            <p>Interested in getting a job or internship at a startup?  Join ADI at our 5th annual Startup Career Fair to meet some of the most exciting tech startups around&mdash;and make sure to bring a resume!</p>
            <p>Last year over 400 Columbia students met 21 tech startups and this year it's going to be even better.  Engineers will tell you about what it's like to work at a tech startup, and can give you tips for how to interview and get a job!</p>
            <p>Register now!</p>
        </div>
   </div>
</section>
<section class="callout">
    <div class="full yellow">
        <div class="content">
            <div class="callout-left">
                <div class="section-header">
                    <h4>Register</h4>
                    <span class="bar gray"></span>
                </div>
                <h3>Interested in attending the 2016 Startup Career fair? Register here!</h3>
                <div class="button-group">
                    <div class="button gray">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScOaagoj9Wkumq8T__jZ8evxfncVoTkmLfgp_bmHbnsc97OdQ/viewform?c=0&w=1">Register Today</a>
                    </div>
                </div>
            </div>
            <div class="callout-right">
                <div class="card">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScOaagoj9Wkumq8T__jZ8evxfncVoTkmLfgp_bmHbnsc97OdQ/viewform?c=0&w=1">
                        <i style="background-image:url({{ url_for('static', filename='img/jobfair/cc_welcome.jpg') }})"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content companies">
        <div class="section-header">
            <h4>Companies</h4>
            <span class="bar blue"></span>
        </div>
        <h3>Here are some of the confirmed attendees joining us this year. If you're a company interested in participating, <a href="mailto:hello@adicu.com">get in touch with us</a>!</h3>
        {% for triple in range(((companies|length) // 3) + 1) %}
            <div class="triple">
            {% for i in range(3) %}
                {% with index = triple * 3 + i%}
                {% if index < (companies | length) %}
                    {% with company = companies[index] %}
                    <div class="small company">
                        <div class="inner">
                            <div class="image-wrapper">
                                <a target="_blank" href="{{ company.url }}">
                                    <i style="background-image: url({{ url_for('static', filename= company.image) }});"></i>
                                </a>
                            </div>
                            <!-- <p>{{ company.blurb }}</p> -->
                        </div>
                    </div>
                    {% endwith %}
                {% endif %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
