{% extends "page.html" %}
{% block title %}Labs | {{ super() }}{% endblock %}

{% block header_image %}/static/img/hero/judges.jpg{% endblock %}

{% block main %}
<section class="card top-card">
     <div class="content">
         <h1 class="page-title">ADI Labs</h1>
         <div class="section-header">
             <h4>About</h4>
             <span class="bar green"></span>
         </div>
     </div>
     <div class="content">
        <h3>ADI Labs is your opportunity to learn everything you can’t learn in class, from software engineering to UI/UX design. At ADI Labs, you will build real projects like <a href="http://density.adicu.com">Density</a> that you will ship. Along the way you’ll receive personalized mentorship from peers that have real world experience working at various companies. You’ll also join an awesome community of builders that love to bring ideas to life as well as have a good time doing so.
        </h3>
        <h3>As a member of Labs, you’ll learn to contribute to open source projects and to take your programming beyond problem sets. Paired with one of our student mentors, you’ll learn software engineering techniques used in industry.</h3>
    </div>
</section>
<section>
    <div class="content">
         <div class="section-header">
             <h4>How it Works</h4>
             <span class="bar green"></span>
         </div>
         <h3>We work on projects over the course of the semester in small teams, meeting every Friday for 4 hours. Each project receives a product manager that helps the team with design and development to achieve what they want to achieve. Additional mentors will be present during weekly sessions to hold workshops and answer technical questions.</h3>
    </div>
</section>
<section class="callout">
    <div class="full blue">
        <div class="content">
            <div class="callout-left">
                <div class="section-header">
                    <h4>Apply</h4>
                    <span class="bar gray"></span>
                </div>
                <h3>Fall 2016 applications are due at 11:59pm on Friday, September 30th. <a href="https://tinyurl.com/adilabs">Click here to apply!</a></h3>
                <p>Just getting started in terms of programming?</p>
                <p><a href="/resources">Learn to Code</a></p>
            </div>
            <div class="callout-right">
                <div class="card">
                    <a href="http://courses.adicu.com">
                        <i style="background-image:url({{ url_for('static', filename='img/apply.jpg') }})"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>What We Offer</h4>
            <span class="bar green"></span>
        </div>
        <div>
            <h3>Thoughtful mentorship</h3>
            <p>What does good mentorship mean? To us, it means pushing you to learn what you didn’t think you could learn. It means supporting you when you are stuck trying to implement that tricky feature. It means making sure that you are doing what you want and learning exactly what you want. It means giving you the best resources out there for the problem you are trying to solve.</p>
        </div>
        <br>
        <div>
            <h3>Learning by doing</h3>
            <p>We believe that the best way to really learn to build something is to, as Nike says, just do it. We believe in diving head-first into hard problems and not holding your hand all the time. ADI Labs is all about hands-on building, so if that excites you, this is the place for you.</p>
        </div>
        <br>
        <div>
            <h3>A community of driven people</h3>
            <p>No one wants to be surrounded by slackers. ADI Labs is a community of motivated individuals that are not here to just fool around. They are here to learn how to build the next Google. At the same time, we believe in building friendships.</p>
        </div>
    </div>
</section>
<section>
    <div class="content">
        <div class="section-header">
            <h4>Who We Are Looking For</h4>
            <span class="bar green"></span>
            <br>
            <p>Below is a list of roles that are available at ADI Labs. If you’re interested in more than one, it is possible to have a hybrid role.</p>
        </div>
        <div>
            <h2>Participants</h2>
        </div>
        <br>
        <div>
            <h3>Developers</h3>
            <p>We are looking for developers who feel comfortable working with the various components of the web stack. They are expected to follow good design patterns, to participate in code reviews, and to adhere to the timelines set by the product managers. If you have not taken a programming course or have never programmed before, we recommend that you check out the other resources ADI has to offer first before applying to Labs.</p>
        </div>
        <br>
        <div>
            <h3>Designers</h3>
            <p>If you’re interested in designing beautiful products and user experiences, ADI Labs is the perfect place for you. This is different from graphic design, as we are looking for people with chops in web UI/UX. Bonus points for knowing how to implement your designs in code!</p>
        </div>
        <br>
        <div>
            <h2>Mentors</h2>
            <p>All mentors should be comfortable with at least one major web development framework (Flask, Ruby on Rails, etc.), and at least one summer of industry experience is recommended.</p>
        </div>
        <br>
        <div>
            <h3>Product Managers</h3>
            <p>As a product manager for Labs, you’ll work with a group of students to manage the agile development of a web app over the course of a semester. You’ll be responsible for helping them collaborate properly with Git, learn and use frameworks, and think about product design.</p>
        </div>
        <br>
        <div>
            <h3>Teaching Assistant</h3>
            <p>As a teaching assistant for Labs, you’ll hold office hours during part or all of the weekly Friday sessions. You’ll be responsible for assisting students with tricky feature implementation and debugging, as well as conducting code reviews.</p>
        </div>
    </div>
</section>
<section>
    <div class="content projects">
        <div class="section-header">
            <h4>Projects</h4>
            <span class="bar green"></span>
        </div>
        <h3>Check out some current and previous ADI Labs projects!</h3>
        <ul>
            {% for project in data.projects %}
            <div class="event large">
                <div class="image">
                    <a href="{{ project.url }}">
                        <img src="{{ url_for('static', filename=project.image) }}"></i>
                    </a>
                </div>
                <div class="text">
                    <a href="{{ project.url }}">
                        <h2>
                            {{ project.title }}
                            <span><a href="{{ project.github_url }}"><i class="fa fa-github"></i></a></span>
                        </h2>
                    </a>
                    <p class="description">{{ project.description | safe }}</p>
                    <div class="button-group">
                    {% for button in project.buttons %}
                        <a href="{{ button.url }}">
                            <div class="button green">{{ button.title }}</div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</section>
<section>
   <div class="content">
        <div class="section-header">
            <h4>FAQs</h4>
            <span class="bar green"></span>
        </div>
        <ul class="faqs">
            {% for faq in data.faqs %}
            {% if loop.index0 % 2 == 0 %}
            <div class="pair">
            {% endif %}
                <li class="faq">
                    <strong>{{ faq.question }}</strong>
                    <p>{{ faq.answer | safe }}</p>
                </li>
            {% if loop.index0 % 2 == 1 or loop.index0 == data.faqs | length %}
            </div>
            {% endif %}
            {% endfor %}
        </ul>
   </div>
</section>
{% endblock main %}
