{% extends "page.html" %}
{% block title %}Mentorship | {{ super() }}{% endblock %}

{% block header_image %}/static/img/hero/mentorship.jpg{% endblock %}

{% block main %}
<section class="card top-card">
    <div class="content">
        <h1 class="page-title">CS Mentorship Program</h1>
        <div class="section-header">
            <h4>About</h4>
            <span class="bar blue"></span>
        </div>
    </div>
    <div class="content">
	<h3>The CS Mentorship Program is a student initiative that pairs first-years and sophomores interested in majoring in CS with juniors and seniors currently studying it. Join us for a semester of creating long-term relationships between mentors and mentees, community events (with free food!) and mentor-led internal workshops about specific topics within CS. It is a great opportunity to give back to the CS community, gain experience leading a workshop, and meet fellow upperclassmen in CS. Workshops and informative events will take place Tuesday evenings and bonding activities Friday afternoons, so you should expect to have these times open.</h3>
    </div>
</section>
<section class="callout borderless">
    <div class="full yellow">
        <div class="content">
            <div class="callout-left">
                <div class="section-header">
                    <h4>Mentors</h4>
                    <span class="bar gray"></span>
                </div>
                <h3>We are now accepting applications for Fall 2017! Note, the application is two-part with the online app and a quick interview (available times on online application). For any questions email <a href="mailto:mentorship@adicu.com" style="color:black">mentorship@adicu.com</a>!</h3>
		<div class="button-group">
			<div class="button gray"><a href="https://tinyurl.com/cs-mentor-f17">Apply here!</a></div>
		</div>
            </div>
            <div class="callout-right">
                <div class="card">
                    <a href="http://adicu.us4.list-manage1.com/track/click?u=62d8b690f349b99dd7e0f3205&id=69125ce317&e=4e3399353f">
                        <i style="background-image:url({{ url_for('static', filename='img/hero/test7.jpg') }})"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="callout borderless">
    <div class="full blue">
        <div class="content">
            <div class="callout-left">
                <div class="section-header">
                    <h4>Mentees</h4>
                    <span class="bar gray"></span>
                </div>
                <h3>Fall 2017 applications for mentees are now out! Note, the application is two-part with the online app and coming by an Office House session (9/15 or 9/17, 1-3PM) so make sure to do both if you plan to apply. For any questions email <a href="mailto:mentorship@adicu.com" style="color:black">mentorship@adicu.com!</a></h3>
		<div class="button-group">
			<div class="button gray"><a href="https://tinyurl.com/cs-mentee-f17">Apply here!</a></div>
		</div>
            </div>
            <div class="callout-right">
                <div class="card">
                    <a href="http://adicu.us4.list-manage.com/track/click?u=62d8b690f349b99dd7e0f3205&id=185b39b1c4&e=4e3399353f">
                        <i style="background-image:url({{ url_for('static', filename='img/hero/circle.jpg') }})"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
